body{
    padding: 0%;
    margin: 0%;
}
.head{
    width: 100%;
    height: 100px;
    border: 1px solid;
    text-align: center;
}
.Banner{
    width: 100%;
    height: 300px;
    border: 1px solid;
}
.Banner H1{
    text-align: center;
}
.About{
    width: 100%;
    height: 200px;
    border: 1px solid;
}
.About h1{
    text-align: center;
}
.source{
    border: 1px solid;
    text-align: center;
    width: 100%;
    height: 400px;
}
.footer{
    width: 100%;
    height: 150px;
    border: 1px solid;
    text-align: center;
}